<div mat-dialog-title>
  <mat-toolbar color="accent">
    <span>Details produit</span>
    <span class="example-spacer"></span>
    <button *ngIf="permission.includes('PRODUIT: CRÉER_MODIFIER')" mat-icon-button (click)="openDialogEdit(produit)" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div mat-dialog-content class="content">
  <div class="row justify-content-center align-items-center">
    <img style="height: 150px; width: 150px" src="{{produit.photo}}">
  </div>

  <div class="row nom justify-content-center align-items-center text-center">
    <mat-icon> production_quantity_limits</mat-icon> <span>{{produit.designation}}  </span>
  </div>
  <div class="row w-75">
    <mat-list class="ms-5">
<!--      <div mat-subheader>Categories</div>-->
      <mat-list-item>
        <mat-icon matListItemIcon color="warn" class="icon-size"> category </mat-icon>
        <div class="detail"  matListItemTitle>{{produit.category?.nom}}</div>
      </mat-list-item>
    </mat-list>
    <mat-list class="ms-5">
<!--      <div mat-subheader>Categories</div>-->
      <mat-list-item>
        <mat-icon matListItemIcon color="warn" class="icon-size"> pin </mat-icon>
        <div class="detail"  matListItemTitle>{{produit.quantite}}</div>
      </mat-list-item>
    </mat-list>
    <mat-list class="ms-5">
<!--      <div mat-subheader>Categories</div>-->
      <mat-list-item>
        <mat-icon matListItemIcon color="warn" class="icon-size"> sell </mat-icon>
        <div class="detail"  matListItemTitle>{{produit.prixunitairettc}} FCFA</div>
      </mat-list-item>
    </mat-list>
    <mat-list class="ms-5">
<!--      <div mat-subheader>Categories</div>-->
      <mat-list-item>
        <mat-icon matListItemIcon color="warn" class="icon-size"> description </mat-icon>
        <div class="detail" matListItemTitle>{{produit.description}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="closeDialog()" cdkFocusInitial>Fermer</button>
</div>
