<!--<div id="appbar">-->
<!--  <h1>Gestionnaire d'entreprise</h1>-->
<!--</div>-->
<!--<div class="row content-second">-->
<!--  &lt;!&ndash;    <div class="col-4">&ndash;&gt;-->
<!--  &lt;!&ndash;      <button mat-raised-button color="primary" (click)="openDialogAddLigne()">Ajouter un element-</button>&ndash;&gt;-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">-->
<!--    <mat-tab label="Utilisateur" *ngIf="permission.includes('UTILISATEUR: CRÉER_MODIFIER') || permission.includes('UTILISATEUR: FILTRER')-->
<!--                                      || permission.includes('UTILISATEUR: LIRE') || permission.includes('UTILISATEUR: CHANGER_ETAT') || permission.includes('UTILISATEUR: REMOVE_ROLE')-->
<!--                                      || permission.includes('UTILISATEUR: ADD_ROLE') || permission.includes('UTILISATEUR: RESET_PASS')">-->
<!--      <app-utilisateur></app-utilisateur>-->
<!--    </mat-tab>-->
<!--    <mat-tab label="Roles" *ngIf="permission.includes('ROLE: LIRE')">-->
<!--      <app-roles></app-roles>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
<!--</div>-->

<app-secondary-menu title="Management"></app-secondary-menu>
