<form [formGroup]="saveForm">
  <div class="row">
    <div class="col-2">
      <div class="row">
        <p><mat-checkbox formControlName="isMois">Par mois</mat-checkbox></p>
      </div>
      <div class="row">
        <p><mat-checkbox formControlName="isAnnee">Par année</mat-checkbox></p>
      </div>
    </div>
    <div class="col">
      @if (saveForm.controls.isMois.value==true && typeFiltre=='etat financier'
        && saveForm.controls.isAnnee.value==true) {
        <div class="row">
          <mat-form-field>
            <mat-label>Mois</mat-label>
            <mat-select formControlName="mois">
              @for (data of month; track data) {
                <mat-option [value]="data.numero">
                  {{data.nom}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Année</mat-label>
            <mat-select formControlName="annee1">
              @for (data of year ; track data) {
                <mat-option [value]="data">
                  {{data}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }
      @if (saveForm.controls.isMois.value==false && saveForm.controls.isAnnee.value==true) {
        <div class="row">
          <mat-form-field>
            <mat-label>Annee 1</mat-label>
            <mat-select formControlName="annee1">
              @for (data of year; track data) {
                <mat-option [value]="data">
                  {{data}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Annee 2</mat-label>
            <mat-select formControlName="annee2">
              @for (data of year; track data) {
                <mat-option [value]="data">
                  {{data}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }
    </div>
  </div>
  <div class="row">
    <button [disabled]="!saveForm.valid" (click)="formSubmit()" (keydown.enter)="formSubmit()"
    mat-raised-button color="primary">Rechercher</button>
  </div>
</form>

