.mat-mdc-row .mat-mdc-cell {
  border: 0.1rem solid black;
  //border-top: 0.1rem solid black;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-row:nth-child(even){
  background-color: #deb281;
}

.mat-row:nth-child(odd){
  background-color: #88d2e0;
}

.demo-row-is-clicked {
  font-weight: bold;
}
div.con{
  padding-right: 1.5rem;
  border-radius: 2rem;
}
th.mat-header-cell {
  color: #ffffff;
  background-color: #047c0e;
  font-weight: bold;
  border: 0.1rem solid white;
}


