
<div>
  <table
    mat-table matSort (matSortChange)="announceSortChange($event)"
    [dataSource]="dataSource" class="mat-elevation-z8">

    @for (disCol of tableColumns; track disCol) {
      <ng-container
        matColumnDef="{{disCol.columnDef}}">
        <th class="mat-header-cell" mat-header-cell mat-sort-header=""
          *matHeaderCellDef>
          {{ disCol.header }}
        </th>
        <td
          mat-cell class="cell"
          *matCellDef="let element">
          @if (!disCol.isLink) {
            <span
              >
              {{ disCol.cell(element) }}
            </span>
          } @else {
            <a [routerLink]="[disCol.url]">
              {{ disCol.cell(element) }}
            </a>
          }
          <!--        <ng-template >-->
          <!--          -->
        <!--        </ng-template>-->
      </td>
    </ng-container>
  }

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns; sticky:true;">
  </tr>

  <tr class="mat-row"
    mat-row (click)= "navigate(row)"
    *matRowDef="let row; columns: displayedColumns;">
  </tr>
  <tr  class="mat-row" *matNoDataRow>
    <td  class = "mat-cell"  [colSpan]="tableColumns.length" > Aucune donnée trouvée </td>-->
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Selectioner le nombre d'élement par page">
</mat-paginator>
</div>
