
<mat-toolbar color="primary" class="d-flex tool justify-content-between">

  <!--  <mat-toolbar-row>-->
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="sidenav.toggle()" >menu</mat-icon>
    </button>
    <img class="img-fluid" src="{{userConnected.entreprise?.photo}}" style="height: 50px" alt="">
    <span id="titre">{{userConnected.entreprise?.nom}}</span>
  </div>
  <div class=" align-items-center justify-content-center">
    <mat-form-field class="input-group" appearance="fill">
      <input matInput placeholder="Recherche" (keyup)="addNewItem(input.value)" #input>
      <button mat-button type="button" matSuffix (click)="addNewItem(input.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
<!--    <button mat-icon-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
      <img [matMenuTriggerFor]="menu" class="img-fluid" src="{{userConnected.photo}}" style="height: 50px" alt="">
<!--    </button>-->
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="callDialogDetailPerson()">
        <mat-icon>person</mat-icon>
        <span>Mon profile</span>
      </button>
      <button mat-menu-item (click)="callDialogDetailentreprise()">
        <mat-icon>webhook</mat-icon>
        <span>Mon entreprise</span>
      </button>
      <div>
        <div class="flex-stretch"></div>
<!--        <mat-icon class="mr-8">brightness_5</mat-icon>-->
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8"> Mode sombre
        </mat-slide-toggle>
<!--        <mat-icon>bedtime</mat-icon>-->
      </div>
<!--      <button *ngIf="permission.includes('UTILISATEUR: CRÉER_MODIFIER') || permission.includes('UTILISATEUR: FILTRER')-->
<!--                                      || permission.includes('ROLE: LIRE')-->
<!--                                      || permission.includes('UTILISATEUR: LIRE') || permission.includes('UTILISATEUR: CHANGER_ETAT') || permission.includes('UTILISATEUR: REMOVE_ROLE')-->
<!--                                      || permission.includes('UTILISATEUR: ADD_ROLE') || permission.includes('UTILISATEUR: RESET_PASS')" mat-menu-item (click)="navigateGestUser()">-->
<!--        <mat-icon>manage_accounts</mat-icon>-->
<!--        <span>Mes utilisateurs</span>-->
<!--      </button>-->
      <button mat-menu-item (click)="deconnexion()">
        <mat-icon>logout</mat-icon>
        <span>Deconnexion</span>
      </button>
    </mat-menu>
    <span>{{userConnected.prenom}}  {{userConnected.nom}}</span>
  </div>
  <!--  </mat-toolbar-row>-->

  <span class="example-spacer"></span>

  <!--  <mat-toolbar-row>-->
  <!--    <span>{{title}}</span>-->
  <!--    <span class="example-spacer"></span>-->
  <!--  </mat-toolbar-row>-->

</mat-toolbar>
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav [ngClass]="menuClass" #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
  >
    <app-primary-menu (newItemEvent)="addItem($event)"></app-primary-menu>
  </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
<!--<router-outlet></router-outlet>-->
