:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0 !important;
  width: 15rem}
//:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
:host ::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }

#titre{
  font-size: larger;
  text-transform: uppercase;
}

.flex-stretch {
  flex: 1 0 auto;
}

:host ::ng-deep .mat-toolbar {
  position: fixed;
  //box-shadow: 0 0.05rem 25px black;
  z-index: 10000;
}

:host ::ng-deep .mat-sidenav-container{
  position: relative;
  height: 100%;
  width: 100%;
  //top: 4rem;
  padding: 1%;
}

:host ::ng-deep mat-sidenav.grand{
  width: 230px;
}
:host ::ng-deep mat-sidenav-content{
  height: 100%;
}
:host ::ng-deep mat-sidenav.court {
  width: 55px;
}

.content{
  //margin-top: 1.5rem;
  margin-left: 2rem;
  height: 100%;
}

.name{
  cursor: pointer;
}
.name:hover{
  color: #fc5802;
}

.mat-toolbar{

}
