<div class="row" *ngFor="let data for listOfData">
  <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions class=" h-25 d-flex justify-content-center align-items-center">
        <div>
          <p>
            Prix / Montant generer
          </p>
          <p>
        <span>
          25 000 FCFA
        </span>
          </p>

        </div>

        <button color="primary" (click)="callDetail(data.id)" mat-button>Detail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

