@use '@angular/material' as mat;
//@import "src/styles/themeProp";

.menuLabel{
  margin-left: 0.5rem;
  text-transform: capitalize;
  font-size: medium;
}

.active{
  background-color: red;
  opacity: 88%;
}

.active-link{
  //opacity: 80%;
  background-color: mat.get-color-from-palette( var(--primary-palette) );
  //color: mat.get-color-from-palette( var(--accent-palette) );
  color: white;
  font-weight: bold;
}
.active-link:hover{
  background-color: mat.get-color-from-palette( var(--primary-palette) );
  color: mat.get-color-from-palette( var(--primary-palette) );
  opacity: 88%;
  //font-weight: bold;
}
.link:hover{
  background-color: mat.get-color-from-palette( var(--warn-palette) );
  color: white;
  //opacity: 88%;
  //font-weight: bold;
}

.inactive-link:hover{
  background-color: mat.get-color-from-palette( var(--accent-palette) );
  //font-weight: bold;
  //text-decoration: underline;
}
