
<div class="row mt-2 justify-content-center text-center">
  <!--  <mat-form-field appearance="fill">-->
  <!--    <mat-select #selected (change)="typeEnregistrement = selected.value" [(value)]="typeEnregistrement"  placeholder="choisir le type d'enregistrement">-->
  <!--        <mat-option *ngFor="let option of listeTypeEnregistrement " [value]="option">-->
  <!--          {{option}}-->
<!--        </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<h2>Enregistrer une {{typeEnregistrement}}</h2>
</div>

<div class="row mt-2 justify-content-center">
  <form [formGroup]="saveForm">
    <div class="row mt-2 justify-content-center">
      @if (typeEnregistrement!='commande fournisseur' && permission.includes('CLIENT: LIRE')) {
        <mat-form-field class="mat-form-field example-full-width" appearance="fill">
          <mat-label>Nom du client</mat-label>
          <input type="text"
            placeholder="Saisir un nom"
            aria-label="Nom Client"
            matInput
            #autocompletenameSelect
            (input)="manageFilterPerson(autocompletenameSelect.value)"
            formControlName="personne"
            [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option">
                  {{option.nom}} {{option.prenom}} | <span [style]="option.compteClientDto?.solde!<0 ? 'color:red;' : 'color:black;'" >Solde : {{option.compteClientDto?.solde || 0}}</span>
                  | Groupe : @for ( groupe of option.groupeClientDtos; track  groupe) {
                  <span >{{groupe.nom}}, </span>
                }
              </mat-option>
            }
          </mat-autocomplete>
          <!--              <mat-select formControlName="personne" [(value)]="selected" placeholder="choisir le client">-->
          <!--                <input type="text" placeholder="entrez un nom" class="filter-input" matInput #autocompletenameSelect  (input)="manageFilterPerson(autocompletenameSelect.value)">-->
          <!--&lt;!&ndash;                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">&ndash;&gt;-->
          <!--&lt;!&ndash;                  <mat-option *ngFor="let option of filteredOptions |async" [value]="option">&ndash;&gt;-->
          <!--&lt;!&ndash;                    {{option.nom}} {{option.prenom}}&ndash;&gt;-->
        <!--&lt;!&ndash;                  </mat-option>&ndash;&gt;-->
      <!--&lt;!&ndash;                </mat-autocomplete>&ndash;&gt;-->
      <!--                <mat-option *ngFor="let person of filteredOptions | async" [value]="person" >{{person.nom}} {{person.prenom}}</mat-option>-->
    <!--              </mat-select>-->
    @if ( permission.includes('CLIENT: CRÉER_MODIFIER')) {
      <button matSuffix color="primary" mat-raised-button (click)="nouveauClient()">Nouveau client</button>
    }
    @if ( permission.includes('GROUPE_CLIENT: CRÉER_MODIFIER')) {
      <button matSuffix color="accent" mat-raised-button (click)="openDialogSave()">Ajouter a un groupe</button>
    }
  </mat-form-field>
}
@if (typeEnregistrement=='commande fournisseur'  && permission.includes('FOURNISSEUR: LIRE')) {
  <mat-form-field class="mat-form-field example-full-width" appearance="fill">
    <mat-label>Nom Fournisseur</mat-label>
    <input type="text"
      placeholder="Saisir un nom"
      aria-label="Nom Client"
      matInput
      #input
      (input)="manageFilterPerson(input.value)"
      formControlName="personne"
      [matAutocomplete]="auto2">
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="displayFnFournisseur">
        @for (option of filteredOptionsFournisseur | async; track option) {
          <mat-option [value]="option">
            {{option.nom}} {{option.prenom}}
          </mat-option>
        }
      </mat-autocomplete>
      @if ( permission.includes('FOURNISSEUR: CRÉER_MODIFIER')) {
        <button matSuffix color="primary" mat-raised-button (click)="nouveauClient()">Nouveau fournisseur</button>
      }
    </mat-form-field>
  }
</div>


<div class="row mt-2 justify-content-center">
  <div class="row mt-2 d-flex title justify-content-center">
    <div class="col-12 d-flex justify-content-center">
      <h2>Element de la commande</h2>
    </div>
  </div>

  <div class="row mt-2 justify-content-center">
    <ng-container formArrayName="ligneCom">
      @for (comForm of ligneCom.controls; track comForm; let i = $index) {
        <div class="lesson-form-row" [formGroupName]="i">
          <div class="row mt-2  justify-content-center">
            <div class="row  sub-title justify-content-center text-center">
              <h3>Element {{1+i}}</h3>
            </div>
          </div>
          <div class="row mt-2 justify-content-center ">
            <div class="row mt-2  justify-content-center text-center">
              <h4>Categorie commande</h4>
            </div>
            <div class="row mt-2 ">
              <div class="col-12 d-flex justify-content-center">
                <mat-radio-group formControlName="type" value="SERVICE">
                  @if (typeEnregistrement!='commande fournisseur') {
                    <mat-radio-button value="SERVICE">
                      SERVICE
                    </mat-radio-button>
                  }
                  <mat-radio-button value="PRODUIT">
                    PRODUIT
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="row mt-2 justify-content-center">
            <div class="col-8">
              <div  class="row mt-2 justify-content-center">
                @if (ligneCom.at(i).get('type')?.value=='PRODUIT' && permission.includes('PRODUIT: LIRE')) {
                  <div class="col">
                    <mat-form-field class="mat-form-field example-full-width" appearance="fill">
                      <mat-label>{{ligneCom.at(i).get('type')?.value}}</mat-label>
                      <input type="text" matInput formControlName="objet" (input)="manageChangeFilter(i)" [matAutocomplete]="autoElement">
                      <mat-autocomplete  #autoElement="matAutocomplete" [displayWith]="displayFnElement">
                        @for (option of filteredElement | async; track option) {
                          <mat-option  [value]="option">
                            {{option.designation}}
                          </mat-option>
                        }
                      </mat-autocomplete>
                      @if ( permission.includes('PRODUIT: CRÉER_MODIFIER')) {
                        <button matSuffix mat-raised-button color="primary" (click)="nouveau(i)">Nouveau</button>
                      }
                    </mat-form-field>
                  </div>
                }
                @if (ligneCom.at(i).get('type')?.value=='SERVICE' && permission.includes('SERVICE: LIRE')) {
                  <div class="col">
                    <mat-form-field class="mat-form-field example-full-width" appearance="fill">
                      <mat-label>{{ligneCom.at(i).get('type')?.value}}</mat-label>
                      <input type="text" matInput  (input)="manageChangeFilter(i)" formControlName="objet" [matAutocomplete]="autoElement2">
                      <mat-autocomplete  #autoElement2="matAutocomplete" [displayWith]="displayFnElementService">
                        @for (option of filteredElement2 | async; track option) {
                          <mat-option  [value]="option.serviceDto">
                            {{option.serviceDto?.nom}}
                          </mat-option>
                        }
                      </mat-autocomplete>
                      @if ( permission.includes('SERVICE: CRÉER_MODIFIER')) {
                        <button matSuffix mat-raised-button color="primary" (click)="nouveau(i)">Nouveau</button>
                      }
                    </mat-form-field>
                  </div>
                }
                <div class="col">
                  <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Quantité</mat-label>
                    <input matInput (input)="calculmontant(i)" required="true" formControlName="quantite" type="number" min="1">
                    <!--                            <mat-hint *ngIf="saveForm.controls.type.value=='PRODUIT'">quantité en stock :  </mat-hint>-->
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-2 justify-content-center">
                <mat-form-field class="mat-form-field example-full-width" appearance="fill">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="description" placeholder="entrez une description de l'element de la commande"></textarea>
                </mat-form-field>
              </div>
              <div class="row mt-2 justify-content-center">
                <div class="col">
                  <mat-form-field appearance="fill">
                    <mat-label>Prix unitaire</mat-label>
                    <input matInput required="true" (input)="calculmontant(i)" formControlName="prixUnitaire" type="number" min="1">
                    <span matSuffix>FCFA&nbsp;</span>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Prix total</mat-label>
                    <input matInput formControlName="prixTotal" (input)="calculPrixUnitaire(i)"  type="number" min="1">
                    <span matSuffix>FCFA&nbsp;</span>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-2">
              <button mat-raised-button color="warn" (click)="deleteLigneCom(i)">
                Supprimer l'element
                <mat-icon size="25" class="ms-2"  >
                  <span class="material-symbols-outlined">
                    delete
                  </span>
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      }
    </ng-container>
    <div class="row mt-2  ">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <button mat-raised-button  (click)="addLigne()">
          Ajouter un Element
          <mat-icon class="ms-2"  color="primary">
            <span class="material-symbols-outlined">
              add_circle
            </span>
          </mat-icon>
        </button>

      </div>

    </div>
  </div>
</div>
<div class="row mt-2 justify-content-center">
  <div class="row mt-2 title justify-content-center text-center">
    <h2>Details Financiers</h2>
  </div>
  <ng-container formArrayName="paiement">
    @for (paieForm of paiement.controls; track paieForm; let i = $index) {
      <div class="lesson-form-row" [formGroupName]="i">
        <div class="row mt-2 justify-content-center ">
          <div class="row sub-title mt-2 justify-content-center text-center">
            <h3>Details Paiement {{1+i}}</h3>
          </div>
        </div>
        <div class="row mt-2 justify-content-center">
          <div class="col-3">
            <mat-form-field appearance="fill">
              <mat-label>Mode de paiement</mat-label>
              <mat-select formControlName="modePaiement"  placeholder="choisir un mode" (change)="calculmax(i)">
                <mat-option value="ORANGE_MONNEY" >ORANGE_MONNEY</mat-option>
                <mat-option value="MOBILE_MONNEY" >MOBILE_MONNEY</mat-option>
                @if (modeVisible) {
                  <mat-option value="REMBOURSSEMENT" >REMBOURSSEMENT</mat-option>
                }
                <mat-option value="ESPECE" >ESPECE</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          @if (paiement.at(i).get('modePaiement')?.value != 'ESPECE' && paiement.at(i).get('modePaiement')?.value != 'REMBOURSSEMENT' ) {
            <div class="col-3">
              <mat-form-field class="mat-form-field example-full-width" appearance="fill">
                <mat-label>Compte payeur</mat-label>
                <input type="text"  (input)="manageChangeFilterPaiement(i)" matInput formControlName="comptePayeur" [matAutocomplete]="autoPaiement">
                <mat-autocomplete #autoPaiement="matAutocomplete" [displayWith]="displayFnPaiement">
                  @for (option of filteredOptions | async; track option) {
                    <mat-option [value]="option.compteClientDto">
                      {{option.nom}} {{option.prenom}}
                    </mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
          }
          <div class="col-3">
            <mat-form-field appearance="fill">
              <mat-label>Montant</mat-label>
              <input matInput required="true" (input)="calculAvance(i)" formControlName="montant" [max]="calculmax(i)" type="number" min="0">
              <span matSuffix>FCFA&nbsp;</span>
              @if (paiement.at(i).get('modePaiement')?.value == 'REMBOURSSEMENT' ) {
                <mat-hint>Max : {{calculmax(i)}} </mat-hint>
              }
            </mat-form-field>
          </div>
          <div class="col-2">
            <button mat-raised-button color="warn" (click)="deleteLignePai(i)">
              Supprimer le Paiemenent
              <mat-icon size="25" class="ms-2" >
                <span class="material-symbols-outlined">
                  delete
                </span>
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    }
  </ng-container>
  <div class="row mt-2  ">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <button mat-raised-button color="primary" (click)="addPaiement()">
        Ajouter un Paiemenent
        <mat-icon size="25" class="ms-2">
          <span class="material-symbols-outlined">
            add_circle
          </span>
        </mat-icon>
      </button>

    </div>

  </div>
</div>
<div class="row mt-2 justify-content-center">
  <div class="row mt-2 title d-flex align-items-center justify-content-center text-center">
    <h3>Details</h3>
  </div>
  <div class="row mt-2 justify-content-center">

    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Date de commande</mat-label>
        <input  matInput formControlName="dateCommande" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    @if (typeEnregistrement!='vente') {
      <div class="col-3">
        <mat-form-field appearance="fill">
          @if (typeEnregistrement=='commande client') {
            <mat-label>Date de retrait</mat-label>
          }
          @if (typeEnregistrement=='commande fournissuer') {
            <mat-label>Date de livraison</mat-label>
          }
          <input [min]="today"  matInput formControlName="dateRetrait" [matDatepicker]="picker2">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    }
    @if (typeEnregistrement !='vente') {
      <div class="col-3">
        <mat-form-field appearance="fill">
          <mat-label>Etat commande</mat-label>
          <mat-select formControlName="etatCommande"  placeholder="choisir un mode" [value]="etatCommande.at(0)">
            @for (etat of etatCommande ; track etat) {
              <mat-option [value]="etat" >{{etat}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    }
  </div>
  <div class="row mt-2 justify-content-center">
    <div class="col-3">
      <mat-form-field appearance="fill">
        <mat-label>Montant total</mat-label>
        <input matInput formControlName="montantTotal" [readonly]="true" type="number" min="1">
        <span matSuffix>FCFA&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Avance</mat-label>
        <input matInput readonly="true" (change)="calculRestepayer()" formControlName="avance" type="number" min="1">
        <span matSuffix>FCFA&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Reste a payer</mat-label>
          <input matInput formControlName="resteAPayer" [readonly]="true" type="number" min="0">
          <span matSuffix>FCFA&nbsp;</span>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Reste a donner</mat-label>
          <input matInput formControlName="resteAdonner" [readonly]="true" type="number" min="0">
          <span matSuffix>FCFA&nbsp;</span>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2 justify-content-center">
  <button mat-flat-button color="primary"  (click)="formSubmit()" >Enregistrer</button>
</div>
</form>
</div>
