@use '@angular/material' as mat;
//@import "src/styles/themeProp";

.example-button-row {
  display: table-cell;
  width: 100%;
}
.mat-divider {
  border-top-color: mat.get-color-from-palette( var(--primary-palette) );
}
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.raise-bouton{
  border-radius: 1.5rem;
}

.active-link{
  //background-color: mat.get-color-from-palette( var(--warn-palette) );
  background-color: red;
  color: white;
}
.active-link:hover{
  //background-color: mat.get-color-from-palette( var(--warn-palette) );
  background-color: red;
  opacity: 88%;
  font-weight: bold;
  //text-decoration: underline;
}

.title{
  display: flex;
  flex-direction: row;
}

.inactive-link:hover{
  color: mat.get-color-from-palette( var(--accent-palette) );
  //font-weight: bold;
  //text-decoration: underline;
}
