
<div id="appbar" class="mt-4">
  <h1 style="color: white">{{title}}</h1>
  <div class="container text-center h-100 w-100">
    <div class="row align-items-center">
      <div class="col">
        @if ((asyncTabs | async) === null) {
          <mat-progress-bar> </mat-progress-bar>
        }
      </div>
    </div>
  </div>
  <div class=" title">
    @for (menu of asyncTabs | async; track menu) {
      <div class="me-5">
        @if (getView(menu.role!)) {
          <button mat-raised-button [ngClass]="{'active-link': menu.routerLink == activeLink,'inactive-link': menu.routerLink != activeLink}"
            (click)="activeLink = menu.routerLink"
            routerLink="{{menu.routerLink}}" class="raise-bouton">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{menu.icon}}"></mat-icon>
            {{menu.label}}
          </button>
        }
      </div>
    }
  </div>

</div>

<mat-divider style="margin-top: 10px"></mat-divider>
@if ((asyncTabs | async) !== null) {
  <div class="container content-second" style="margin-top: 10px">
    <router-outlet ></router-outlet>
  </div>
}
