<div class="row">
  <div class="col-4">
    <button mat-raised-button color="primary">Ajouter</button>
  </div>
  <div class="col-4">
    <button mat-raised-button color="primary">Supprimer</button>
  </div>
  <div class="col-4">
    <button mat-raised-button color="primary">Envoyer un sms</button>
  </div>
</div>

<mat-selection-list>
  <mat-list-option *ngFor="let shoe of typesOfShoes">
    <div>
      <mat-card class="example-card mt-3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
          </div>
          <mat-card-title style="font-size: medium">{{shoe.nom}}</mat-card-title>
          <mat-card-subtitle >
            Tel: {{shoe.adresse}}
          </mat-card-subtitle>
          <div>
            <button mat-icon-button color="primary" (click)="openDialogSave(shoe)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a filter list icon">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="openDialogView(shoe)">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
        </mat-card-header>

      </mat-card>
    </div>
  </mat-list-option>
</mat-selection-list>
