<div id="appbar">
  <h1>{{typePersonne}} </h1>
  <div class="row">
    <div class="col-4" *ngIf="(typePersonne =='fournisseur' && permission.includes('FOURNISSEUR: CRÉER_MODIFIER'))
                              || (typePersonne =='client' && permission.includes('CLIENT: CRÉER_MODIFIER'))
                              || (typePersonne =='utilisateur' && permission.includes('UTILISATEUR: CRÉER_MODIFIER'))">
      <button mat-raised-button color="primary" (click)="openDialogSave()">Ajouter</button>
    </div>
    <div class="col-4" *ngIf="(typePersonne =='fournisseur' && permission.includes('FOURNISSEUR: LIRE'))
                              || (typePersonne =='client' && permission.includes('CLIENT: LIRE'))
                              || (typePersonne =='utilisateur' && permission.includes('UTILISATEUR: LIRE'))">
      <button  mat-raised-button color="accent" (click)="findAll()">
        <mat-icon>
            <span class="material-symbols-outlined">
            refresh
          </span></mat-icon>
      </button>
    </div>
    <div class="col-4" *ngIf="(typePersonne =='fournisseur' && permission.includes('FOURNISSEUR: SUPPRIMER'))
                              || (typePersonne =='client' && permission.includes('CLIENT: SUPPRIMER'))
                              || (typePersonne =='utilisateur' && permission.includes('UTILISATEUR: SUPPRIMER'))">
      <button mat-raised-button color="primary" (click)="delete()">Supprimer</button>
      <!--  </div>-->
      <!--  <div class="col-4">-->
      <!--    <button mat-raised-button color="primary">Envoyer un sms</button>-->
      <!--  </div>-->
    </div>
  </div>
</div>

<div class="content-second h-100">
  <div *ngIf="person.length==0" class="justify-content-center h-100">
    Aucune donnée trouvée
  </div>
  <mat-selection-list class="justify-content-center h-100" style="width: 90%" [multiple]="false">
    <mat-list-option class="mb-2" *ngFor="let person of person"  [value]="person" (click)="setSelectedPerson(person)">
      <div style="width: 100%" class="d-flex align-items-center justify-content-center">
        <mat-card style="width: max-content" class=" example-card">
          <mat-card-header>

            <div mat-card-avatar class="example-header-image">
            </div>
            <mat-card-title class="title" >{{person.nom}}  {{person.prenom}} - {{person.adresse?.adresse1}} - {{person.adresse?.ville}} ( {{person.adresse?.pays}} )</mat-card-title>
            <mat-card-subtitle *ngIf="person.contactDto !=null && person.contactDto !=undefined ">
            <span *ngIf="person.contactDto.tel1 !=null && person.contactDto.tel1 !=undefined ">
              Tel 1: {{person.contactDto.tel1}} |
            </span>
              <span *ngIf="person.contactDto.tel2 !=null && person.contactDto.tel2 !=undefined ">
              Tel 2: {{person.contactDto.tel2}} |
            </span>
              <span *ngIf="person.contactDto.tel3 !=null && person.contactDto.tel3 !=undefined ">
              Tel 3: {{person.contactDto.tel3}} |
            </span>
              <span *ngIf="person.contactDto.tel4 !=null && person.contactDto.tel4 !=undefined ">
              Tel 4: {{person.contactDto.tel4}}
            </span>

            </mat-card-subtitle>


          </mat-card-header>

        </mat-card>
        <div class="col">
          <button mat-icon-button color="primary" aria-label="Example icon button with a filter list icon" (click)="openDialogEdit(person)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialogView(person)">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>

