.divider{
  padding: 0.5rem;
}
.divider-boder{
  border-left: 0.5rem solid red;
}

.accordion{
  border-bottom: black solid 0.1rem;
  margin-top: 0.5rem;
}
.important{
  font-weight: bold;
}
.important-Desription{
  font-weight: bold;
}
