:host ::ng-deep .mat-toolbar {
  //
  //box-shadow: 0 0.05rem 25px black;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containt{
  display: flex;

}

.side{
  flex: 3;
  height: 100vh;
  overflow: scroll;
  //line-height: 300px;
}

.content{
  flex: 9;
  height: 100vh;
  overflow: scroll;
  //line-height: 300px;
}

.content2{
  flex: 12;
  height: 100vh;
  //overflow: scroll;
  //line-height: 300px;
}

