<div id="appbar" >
  <h1>Depenses</h1>
  <div class="row">
    @if (permission.includes('DEPENSE: CRÉER_MODIFIER')) {
      <div class="col-4">
        <button mat-raised-button color="primary"  (click)="openDialogSave()">Nouvelle depense</button>
      </div>
    }
    @if (permission.includes('DEPENSE: FILTRER')) {
      <div class="col-3">
        <mat-slide-toggle [(ngModel)]="isChecked">Recherche avancée</mat-slide-toggle>
      </div>
    }
    @if (permission.includes('DEPENSE: VOIR_TOUT')) {
      <div class="col-3">
        <mat-slide-toggle [(ngModel)]="voirTout">Voir tout</mat-slide-toggle>
      </div>
    }
    @if (permission.includes('DEPENSE: LIRE')) {
      <div class="col-4">
        <button  mat-raised-button color="accent"  (click)="findAllDepenses()">
          <mat-icon>
            <span class="material-symbols-outlined">
              refresh
            </span>
          </mat-icon>
        </button>
      </div>
    }
    @if (permission.includes('CAT_DEPENSE: LIRE')) {
      <div class="col-4">
        <button  mat-raised-button color="primary"  (click)="opendoalogCategorie()">Voir les categories</button>
      </div>
    }
  </div>
</div>

<div class="containt">
  @if (isChecked) {
    <div class="side">
      <app-filter-categories (objetFiltre)="filter($event)" typeEnregistrement="{{ContextCategorie.DEPENSE}}"></app-filter-categories>
    </div>
  }
  @if (permission.includes('DEPENSE: LIRE') || permission.includes('DEPENSE: SUPPRIMER')
    || permission.includes('DEPENSE: FILTRER')) {
    <div [class]="isChecked ? 'content' : 'content2'">
      @if (display) {
        <app-list-view [tableColumns]="columns" [tableData]="listeVente"></app-list-view>
      }
    </div>
  }
</div>

