<div class="row mb-3">
  @if (permission.includes('UTILISATEUR: FILTRER')) {
    <div class="col-2">
      <mat-slide-toggle [(ngModel)]="isChecked" style="color: white !important;">Recherche avancée</mat-slide-toggle>
    </div>
  }
  @if (permission.includes('UTILISATEUR: CRÉER_MODIFIER')) {
    <div class="col-4">
      <button mat-raised-button color="primary" (click)="openDialogSave()">Ajouter</button>
    </div>
  }
  <div class="col-4">
    <button  mat-raised-button color="accent" (click)="findAll()">
      <mat-icon>
        <span class="material-symbols-outlined">
          refresh
        </span></mat-icon>
      </button>
    </div>
    <!--  <div class="col-4">-->
    <!--    <button mat-raised-button color="primary" (click)="delete()">Supprimer</button>-->
  <!--    &lt;!&ndash;  </div>&ndash;&gt;-->
  <!--    &lt;!&ndash;  <div class="col-4">&ndash;&gt;-->
  <!--    &lt;!&ndash;    <button mat-raised-button color="primary">Envoyer un sms</button>&ndash;&gt;-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->
<!--  </div>-->
</div>

<div class="containt  h-100">
  @if (isChecked) {
    <div class="side">
      <app-filter-person (objetFiltre)="filter('utilisateur', $event)" typeEnregistrement="utilisateur"></app-filter-person>
    </div>
  }
  @if (permission.includes('UTILISATEUR: LIRE')) {
    <div  [class]="isChecked ? 'content' : 'content2'">
      <app-list-view [tableColumns]="columns" [tableData]="listeUtilisateur" type="utilisateur"></app-list-view>
    </div>
  }
</div>

