<div class="row">
  <div class="col-4" *ngIf="permission.includes('UTILISATEUR: CRÉER_MODIFIER')">
    <button mat-raised-button color="primary" (click)="openDialogSave()">Ajouter</button>
  </div>
<!--  <div class="col-4">-->
<!--    <button  mat-raised-button color="accent" (click)="findAll()">-->
<!--      <mat-icon>-->
<!--            <span class="material-symbols-outlined">-->
<!--            refresh-->
<!--          </span></mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="col-4">-->
<!--    <button mat-raised-button color="primary" (click)="delete()">Supprimer</button>-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->
<!--    &lt;!&ndash;  <div class="col-4">&ndash;&gt;-->
<!--    &lt;!&ndash;    <button mat-raised-button color="primary">Envoyer un sms</button>&ndash;&gt;-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->
<!--  </div>-->
</div>

<div  *ngIf="permission.includes('UTILISATEUR: LIRE')">
  <app-list-view [tableColumns]="columns" [tableData]="listeUtilisateur" type="utilisateur"></app-list-view>
</div>
