<div class="row mt-2 justify-content-center text-center">
  <h2>Ajouter un paiement</h2>
</div>
<div class="row h-100 align-items-center justify-content-center">
  <form class="w-50" #form  [formGroup]="saveForm" >

      <div class="row mt-2 justify-content-center">

        <div class="col-3">
          <mat-form-field appearance="fill">
            <mat-label>Mode de paiement</mat-label>
            <mat-select formControlName="modePaiement"  placeholder="choisir un mode" (change)="calculmax()">
              <mat-option value="ORANGE_MONNEY" >ORANGE_MONNEY</mat-option>
              <mat-option value="MOBILE_MONNEY" >MOBILE_MONNEY</mat-option>
              <mat-option *ngIf="modeVisible == true" value="REMBOURSSEMENT" >REMBOURSSEMENT</mat-option>
              <mat-option value="ESPECE" >ESPECE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3" *ngIf="saveForm.controls.modePaiement?.value != 'ESPECE' ">
          <mat-form-field class="mat-form-field example-full-width" appearance="fill">
            <mat-label>Compte payeur</mat-label>
            <input type="text"  (input)="manageChangeFilterPaiement()" matInput formControlName="comptePayeur" [matAutocomplete]="autoPaiement">
            <mat-autocomplete #autoPaiement="matAutocomplete" [displayWith]="displayFnPaiement">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.compteClientDto">
                {{option.nom}} {{option.prenom}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="fill">
            <mat-label>Montant</mat-label>
            <input matInput required="true" formControlName="montant" [max]="calculmax()" type="number" min="1">
            <span matSuffix>FCFA&nbsp;</span>
            <mat-hint *ngIf="saveForm.controls.modePaiement?.value == 'REMBOURSSEMENT' ">Max : {{calculmax()}} </mat-hint>
          </mat-form-field>
        </div>
      </div>
    <div class="row mt-5">
      <button [disabled]="!saveForm.valid" (click)="formSubmit()" (keydown.enter)="formSubmit()" mat-raised-button color="primary">Enregistrer</button>
    </div>
  </form>
</div>
