<div class="row w-100">
  <div class="row w-100 text-center text-capitalize">
    <h2>Etat des commandes</h2>

  </div>
  <div class="col border-2  border-primary rounded-3">
    <div class="row">
      <div class="row">
        <div class="col text-center">
          Commande en attente de traitement
        </div>
        <div class="col">
         <button mat-stroked-button class="border-primary rounded-pill">Voir plus</button>
        </div>
      </div>
      <div class="row">
        tables des commandes
      </div>
    </div>
  </div>
  <div class="col border-2  border-primary rounded-3">
    <div class="row">
      <div class="row">
        <div class="col text-center">
          Commande en attente de traitement
        </div>
        <div class="col">
          <button mat-stroked-button class="border-primary rounded-pill">Voir plus</button>
        </div>
      </div>
      <div class="row">
        tables des commandes
      </div>
    </div>
  </div>
</div>

<div class="row w-100">
  <mat-divider class="mt-3 mb-3"></mat-divider>
  <div class="row w-100 text-center text-capitalize">
    <h2>Etat financier du mois en cour</h2>
  </div>
  <div class="row w-100">
    <div class="col-3">
      <mat-card class="stat">
        <mat-card-header>
          <mat-list-item >
            <div class="d-flex align-items-center justify-content-lg-start">
              <p>
                <mat-icon color="primary">
              <span class="material-symbols-outlined">
                info
              </span>
                </mat-icon>
              </p>

              <p>Ventes de produit</p>
            </div>

          </mat-list-item>
        </mat-card-header>
        <mat-card-content class="content">
          200000 FCFA
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="stat">
        <mat-card-header>
          <mat-list-item >
            <div class="d-flex align-items-center justify-content-lg-start">
              <p>
                <mat-icon color="primary">
              <span class="material-symbols-outlined">
                info
              </span>
                </mat-icon>
              </p>

              <p>Ventes de service</p>
            </div>

          </mat-list-item>
        </mat-card-header>
        <mat-card-content class="content">
          200000 FCFA
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="stat">
        <mat-card-header>
          <mat-list-item >
            <div class="d-flex align-items-center justify-content-lg-start">
              <p>
                <mat-icon color="primary">
              <span class="material-symbols-outlined">
                info
              </span>
                </mat-icon>
              </p>

              <p>Commandes livré</p>
            </div>

          </mat-list-item>
        </mat-card-header>
        <mat-card-content class="content">
          200000 FCFA
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="stat">
        <mat-card-header>
          <mat-list-item >
            <div class="d-flex align-items-center justify-content-lg-start">
              <p>
                <mat-icon color="primary">
              <span class="material-symbols-outlined">
                info
              </span>
                </mat-icon>
              </p>

              <p>CA</p>
            </div>

          </mat-list-item>
        </mat-card-header>
        <mat-card-content class="content">
          200000 FCFA
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="row w-100">
  <mat-divider class="mt-3 mb-3"></mat-divider>
  <div class="row w-100 text-center text-capitalize">
    <h2>Graphes de vente</h2>

  </div>
</div>


