<div id="appbar" >
  <h1>Services</h1>
  <div class="row">
    <div class="col-4" *ngIf="permission.includes('SERVICE: CRÉER_MODIFIER')">
      <button mat-raised-button color="primary" (click)="openDialogSave()">Nouveau service</button>
    </div>
    <div class="col-3" *ngIf="permission.includes('DEPENSE: FILTRER')">
      <mat-slide-toggle [ngModel]="isChecked" (ngModelChange)="isChecked = $event">Recherche avancée</mat-slide-toggle>
    </div>
    <div class="col-4" *ngIf="permission.includes('SERVICE: LIRE')">
      <button  mat-raised-button color="accent" (click)="findAllProduit()">
        <mat-icon>
            <span class="material-symbols-outlined">
            refresh
          </span>
        </mat-icon>
      </button>
    </div>
    <div class="col-4" *ngIf="permission.includes('CAT_SERVICE: LIRE')">
      <button  mat-raised-button color="primary" (click)="opendoalogCategorie()">Voir les categories</button>
    </div>
  </div>
</div>

<div class="containt">
  <div *ngIf="isChecked" class="side">
    <app-filter-categories (objetFiltre)="filter($event)" typeEnregistrement="{{ContextCategorie.SERVICE}}"></app-filter-categories>
  </div>
  <div *ngIf="permission.includes('SERVICE: LIRE') || permission.includes('SERVICE: SUPPRIMER')
  || permission.includes('SERVICE: FILTRER')" [class]="isChecked ? 'content' : 'content2'">
    <app-view-product *ngIf="display" [listOfData]="listService" typeAffichage="service"></app-view-product>
  </div>
</div>

<!--<div class="content-second" *ngIf="permission.includes('SERVICE: LIRE')">-->
<!--  <app-view-product [listOfData]="listService" typeAffichage="service"></app-view-product>-->
<!--</div>-->
