<app-app-loader></app-app-loader>
<div class=" w-100  text-center">

  <div  class="row mt-5 mb-5 align-items-center">
    <div class="col mb-3">
      <img class="img-fluid" style="height: 200px" src="assets/logo.png" alt="">
    </div>
    <span id="titre">CONNEXION</span>
  </div>

  @if (error == true) {
    <div class="row align-items-center errorForm">
      <div class="col errorMessage">
        login ou mot de passe incorrect
      </div>
    </div>
  }
  <div class="row align-items-center justify-content-center">
    <form class="w-25" #form  [formGroup]="loginForm" >
      <div class="col">
        <div class="col">
          <mat-form-field class="mat-form-field d-flex justify-content-center" appearance="outline">
            <mat-label class="">Login</mat-label>
            <input type="text" matInput formControlName="login"
              [errorStateMatcher]="matcher">
              @if (loginForm.controls['login'].hasError('required')) {
                <mat-error class="errorMessage">
                  le login est requit
                </mat-error>
              }
              @if (loginForm.controls['login'].hasError('email')) {
                <mat-error class="errorMessage">
                  le login est incorrect
                </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="d-flex justify-content-center" appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="motDePasse"
                [errorStateMatcher]="matcher"
                placeholder="entrez votre mot de passe">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon class="mat-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (loginForm.controls['motDePasse'].hasError('required')) {
                  <mat-error class="errorMessage">
                    le mot de passe est requit
                  </mat-error>
                }
                <mat-hint class="m-0">
                  <a mat-button href="#" color="primary">mot de passe oublié ?</a>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col">
              <button (click)="formSubmit()" mat-raised-button color="primary">Connexion</button>
            </div>
          </div>
        </form>
      </div>
    </div>
