/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@use "styles/reset";
/* You can add global styles to this file, and also import other style files */
//@use "styles/themeProp";
//@use "styles/custom-theme";

/* Importing Bootstrap SCSS file using traditional @import to avoid mixin conflicts */
@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
  text-transform: capitalize;
  font-family: Lato, sans-serif;
  //margin-bottom: 0.02rem;

}

#appbar{
  position: fixed;
  width: 100%;
  padding: 1%;
  box-shadow: 0 0.05rem 25px black;
  background-color: #038a25;
  //top: rem;
  z-index: 10000;
}

.content-second{
  position: relative;
  top: 10rem;

}

.Subactivebutton{
  border-radius: 6px;
  background-color: var(--primary-palette) ;
}
.errorForm{
  color: var(--warn-palette) ;
}

.secondLink:active{
  border-radius: 6px;
  color: white;
  background-color: forestgreen;
  font-weight: bold;
}

.modal{
  height: 350px;
  width: 700px;
}

//::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
//::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.display-title{
  width: 550px;
  font-size: medium;
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  border-bottom: solid;
  border-bottom-color: var(--primary-palette) ;
}

.display-subtitle{
  width: 35%;
  border-right: solid;
  border-bottom-color: var(--accent-palette) ;
}

.display-subtitle2{
  width: 65%;
  font-weight:450;
}

:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  width: 15rem}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
