/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */
@import "styles/themeProp";
@import "styles/custom-theme";
/* Importing Bootstrap SCSS file. */
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


@import "styles/reset";
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
  text-transform: capitalize;
  font-family: Lato, sans-serif;
  //margin-bottom: 0.02rem;

}

.Subactivebutton{
  border-radius: 6px;
  background-color: mat.get-color-from-palette($primary-palette);
}
.errorForm{
  color: mat.get-color-from-palette($warn-palette);
}

.secondLink:active{
  border-radius: 6px;
  color: white;
  background-color: forestgreen;
  font-weight: bold;
}

.modal{
  height: 350px;
  width: 700px;
}

//::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
//::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.display-title{
  width: 550px;
  font-size: medium;
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  border-bottom: solid;
  border-bottom-color: mat.get-color-from-palette($primary-palette);
}

.display-subtitle{
  width: 35%;
  border-right: solid;
  border-bottom-color: mat.get-color-from-palette($accent-palette);
}

.display-subtitle2{
  width: 65%;
  font-weight:450;
}

:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  width: 15rem}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
