<div mat-dialog-title>
  <mat-toolbar color="accent">
    <span>Facture {{type}} </span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="printPdf()" printSectionId="content" ngxPrint  class="example-icon favorite-icon" printTitle="FACURE NUMERO {{donnees.code}}">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button (click)="downloadPdf()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>download</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div mat-dialog-content #printSection id="content">
  <div class="pdf-viewer">
    <!-- Affichez le PDF dans un iframe -->
    <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="closeDialog()" >Fermer</button>
</div>
