#content{
  height: 1122px;
  width: 793px;
}

.important{
  font-weight: bold;
  font-size: large;
}

.signature{
  display: flex;
  justify-content: space-between;
}

#facture{
  font-size: x-large;
  font-weight: bold;
  text-decoration: underline;
  color: dodgerblue;
}
